ul#common
  li received: 
    span#received 0
  li online received: 
    span#online_received 0  
  li sent: 
    span#sent 0
  li errors: 
    span#errors 0 
  li recheck_sent: 
    span#recheck_sent 0
  li recheck_errors: 
    span#recheck_errors 0     