body
  font: 14px "helvetica neue", helvetica, arial, sans-serif
  color: #666

table
  border-collapse collapse
   
table th
  background-color: #d7d7d7
  
table th, table td
  height 15px
  min-width 15px
  padding 2px
  border: 1px solid #666
  font-size 12px

#types table
  margin 10px

#types div
  margin 10px  

a
  color: #00B7FF
  text-decoration: none
  cursor: pointer

ul
  margin: 0
  padding: 0

li
  margin-left: 20px
  list-style: none